@mixin font-hide {
  font-size: 0;
  color: transparent;
}

@mixin flex-center($display: flex, $gap: 0) {
  display: $display;
  align-items: center;
  justify-content: center;

  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin flex-row($wrap: wrap, $gap: 0, $horizontal: false) {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;

  @if $gap != 0 {
    gap: $gap;
  }

  @if $horizontal == true {
    justify-content: center;
  }
}

@mixin font($fs: 26px, $fw: 400, $lh: 120%, $color: var(--color-white)) {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  color: $color;
}

// Media query
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: 768px) and (max-width: 1240px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1240px) {
    @content;
  }
}

// Buttons
@mixin btn-blue {
  background: var(--color-blue);
  border-radius: var(--radius);
  box-shadow:
    inset 0 -2px 0 3px #140e66,
    inset 0 1px 0 6px #3c74ff;
}

@mixin btn-typography {
  font-size: var(--fs-size);
  font-weight: 400;
  line-height: 120%;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@mixin btn-blue-hover() {
  &::before {
    content: '';

    position: absolute;
    inset: 0;

    display: block;

    opacity: 0;
    background: rgba(255, 255, 255, 0.25);
    border-radius: var(--radius);
    box-shadow:
      inset 0 -2px 0 3px #140e66,
      inset 0 1px 0 6px #3c74ff;

    transition: opacity 0.25s;
  }

  @media (hover: hover) {
    &:hover::before {
      opacity: 1;
    }
  }

  @media (hover: none) {
    &:active::before {
      opacity: 1;
    }
  }
}
